*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1.8rem;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.background {
  position: relative;
  height: 200px;
  width: 100%;
  background-image: url("/images/bg-main-mobile.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  margin-bottom: 4em;
}

.card {
  width: 70%;
  aspect-ratio: 1 / 0.55;
  background-size: cover;
  background-position: center;
  position: absolute;
  border-radius: 10px;
  padding: 1em;
  font-weight: 300;
}

.card-front {
  font-size: 0.6em;
  bottom: -40px;
  left: 20px;
  background-image: url("/images/bg-card-front.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-front__top {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.4em;
}

.card-front__top--img {
  height: 100%;
}

.card-front__middle {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.4em;
}

.card-front__middle--card-number {
  letter-spacing: 2px;
  text-align: center;
}

.card-front__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-front__bottom--name {
  margin-right: 20px;
}

.card-front__bottom--date p {
  display: inline-block;
}

.card-back {
  bottom: 50px;
  left: 50px;
  background-image: url("/images/bg-card-back.png");
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-back__cvc {
  width: 90%;
  text-align: right;
  font-size: 0.6em;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .error {
  color: #ff5252;
  font-size: 0.5em;
  text-align: left;
  width: 100%;
  visibility: hidden;
}

.main .complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #21092f;
  width: 100%;
  padding: 2em;
  display: none;
}

.main .complete__icon {
  width: 100%;
  margin-bottom: 1em;
}

.main .complete__icon img {
  width: 15%;
}

.main .complete__info {
  margin-bottom: 2em;
}

.main .complete__info-graduates {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.main .complete__info-text {
  font-size: 0.8em;
}

.main .complete .continue {
  cursor: pointer;
  width: 100%;
  font-size: 1em;
  color: #dedddf;
  background-color: #21092f;
  border: none;
  border-radius: 8px;
  padding: 0.6em 0;
}

.main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #21092f;
  width: 100%;
  padding: 2em;
}

.main .form__label-title {
  width: 100%;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0.8em 0;
  text-align: left;
}

.main .form__input {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #dedddf;
  color: #21092f;
  padding: 0.7em;
  font-size: 0.8em;
  margin: 0 0 0.5em 0.2em;
}

.main .form__input::-webkit-input-placeholder {
  color: #8e8593;
}

.main .form__input:-ms-input-placeholder {
  color: #8e8593;
}

.main .form__input::-ms-input-placeholder {
  color: #8e8593;
}

.main .form__input::placeholder {
  color: #8e8593;
}

.main .form__input:active {
  border: 1px solid linear-gradient(0deg, #6448fe, #600594);
}

.main .form__top {
  margin-bottom: 0.8em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .form__top input {
  width: 100%;
}

.main .form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1.5em;
}

.main .form__bottom-date {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .form__bottom-date-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .form__bottom-date-inputs input {
  width: 100%;
}

.main .form__bottom-cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 0.8em;
}

.main .form__bottom-cvc input {
  width: 100%;
}

.main .form .submit {
  width: 100%;
  font-size: 1em;
  color: #dedddf;
  background-color: #21092f;
  border: none;
  border-radius: 8px;
  padding: 0.8em 0;
  cursor: pointer;
}

.main .form .describe {
  color: #21092f;
  text-align: center;
  font-size: 0.5em;
  width: 100%;
  margin-top: 2em;
}

.main .form .describe a {
  color: #8e8593;
  text-decoration: none;
}

.main .form .describe a:hover {
  color: #600594;
}

@media (min-width: 320px) {
  .card-front {
    font-size: 0.7em;
  }
  .card-front__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main .form__bottom-date-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .form__bottom-date-inputs input {
    width: 50%;
    margin-right: 0.5em;
  }
}

@media (min-width: 375px) {
  .background {
    height: 240px;
  }
  .card {
    height: 160px;
    width: 285px;
  }
  .card-front {
    left: 5%;
    font-size: 1em;
  }
  .card-front__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .card-front__bottom {
    font-size: 0.6em;
  }
  .card-back {
    left: 15%;
  }
}

@media (min-width: 576px) {
  .card-front {
    left: 15%;
  }
  .card-back {
    left: 25%;
  }
}

@media (min-width: 768px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .background {
    width: 30%;
    height: 100%;
    background-image: url("/images/bg-main-desktop.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
  }
  .card-front {
    top: 200px;
    left: 20%;
  }
  .card-back {
    top: 380px;
    left: 45%;
  }
  .main {
    height: 100vh;
  }
  .main .form {
    width: 50%;
    margin-left: 10em;
  }
  .main .complete {
    width: 50%;
    margin-left: 10em;
  }
}

@media (min-width: 1200px) {
  .card-front {
    top: 200px;
    left: 50%;
  }
  .card-back {
    top: 380px;
    left: 65%;
  }
  .main .form {
    width: 40%;
    margin-left: 0;
  }
  .main .complete {
    width: 40%;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */