$active-input-border: linear-gradient(0deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$error: hsl(0, 100%, 66%);
$font-color:hsl(0, 0%, 100%);
$input-value-color:hsl(270, 3%, 87%);
$input-title-color:hsl(279, 6%, 55%);
$button-label-color:hsl(278, 68%, 11%)