@media (min-width: 320px) {
	.card {
		&-front {
			font-size: 0.7em;
			&__middle {
				@include flexBox(flex, row, flex-start, flex-end);
			}
		}
	}
	.main {
		.form {
			&__input{
				&--month{
					flex-basis: 40%
				}
				&--year{
					flex-basis: 40%

				}
			}
			&__bottom {
				&-date {
					&-inputs {
						@include flexBox(flex, row, flex-start, center);
						flex-wrap: wrap;
						input {
							margin-right: 0.5em;
						}
						p {
							justify-self: flex-end;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 375px) {
	.background {
		height: 240px;
	}
	.card {
		height: 160px;
		width: 285px;
		&-front {
			left: 5%;
			font-size: 1em;
			&__middle {
				@include flexBox(flex, row, flex-start, flex-end);
			}
			&__bottom {
				font-size: 0.6em;
			}
		}

		&-back {
			left: 15%;
		}
	}
}
@media (min-width: 576px) {
	.card {
		&-front {
			left: 15%;
		}
		&-back {
			left: 25%;
		}
	}
}
@media (min-width: 768px) {
	body {
		flex-direction: row;
		justify-content: flex-start;
	}
	.background {
		width: 30%;
		height: 100%;
		background-image: url('../images/bg-main-desktop.png');
		background-size: cover;
		background-position: center;
		margin-bottom: 0;
	}
	.card {
		&-front {
			top: 200px;
			left: 20%;
		}
		&-back {
			top: 380px;
			left: 45%;
		}
	}
	.main {
		height: 100vh;
	}
	.main {
		.form {
			width: 50%;
			margin-left: 10em;
		}
		.complete {
			width: 50%;
			margin-left: 10em;
		}
	}
}
@media (min-width: 1200px) {
	.card {
		&-front {
			top: 200px;
			left: 50%;
		}
		&-back {
			top: 380px;
			left: 65%;
		}
	}
	.main {
		.form {
			width: 40%;
			margin-left: 0;
		}
		.complete {
			width: 40%;
			margin-left: 0;
		}
	}
}
