@import '_colors';
@import '_mixins';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	position: relative;
	font-size: 1.8rem;
	width: 100vw;
	height: 100vh;
	@include flexBox(flex, column, flex-start, center);
	color: $font-color;
	font-family: 'Space Grotesk', sans-serif;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.background {
	position: relative;
	height: 200px;
	width: 100%;
	background-image: url('../images/bg-main-mobile.png');
	background-size: cover;
	background-position: center;
	z-index: 0;
	margin-bottom: 4em;
}
.card {
	width: 70%;
	aspect-ratio: 1 / 0.55;
	background-size: cover;
	background-position: center;
	position: absolute;
	border-radius: 10px;
	padding: 1em;
	font-weight: 300;
	&-front {
		font-size: 0.6em;
		bottom: -40px;
		left: 20px;
		background-image: url('../images/bg-card-front.png');
		@include flexBox(flex, column, space-between, center);
		&__top {
			width: 100%;
			height: 20%;
			@include flexBox(flex, row, flex-start, center);
			margin-bottom: 0.4em;
			&--img {
				height: 100%;
			}
		}
		&__middle {
			width: 100%;
			height: 40%;
			@include flexBox(flex, row, center, center);
			margin-bottom: 0.4em;
			&--card-number {
				letter-spacing: 2px;
				text-align: center;
			}
		}
		&__bottom {
			width: 100%;
			@include flexBox(flex, row, space-between, flex-end);
			font-weight: lighter;
			text-transform: uppercase;
			letter-spacing: 1px;
			&--name {
				margin-right: 20px;
			}
			&--date {
				p {
					display: inline-block;
				}
			}
		}
	}
	&-back {
		bottom: 50px;
		left: 50px;
		background-image: url('../images/bg-card-back.png');
		z-index: -1;
		@include flexBox(flex, column, center, center);
		&__cvc {
			width: 90%;
			text-align: right;
			font-size: 0.6em;
		}
	}
}
.main {
	width: 100%;
	@include flexBox(flex, row, center, center);
	.error {
		color: $error;
		font-size: 0.5em;
		text-align: left;
		width: 100%;
		visibility: hidden;
	}

	.complete {
		@include flexBox(flex, column, center, center);
		text-align: center;
		color: $button-label-color;
		width: 100%;
		padding: 2em;
		display: none;
		&__icon {
			width: 100%;
			margin-bottom: 1em;
			img {
				width: 15%;
			}
		}
		&__info {
			margin-bottom: 2em;
			&-graduates {
				margin-bottom: 1em;
				text-transform: uppercase;
			}
			&-text {
				font-size: 0.8em;
			}
		}
		.continue {
			cursor: pointer;
			width: 100%;
			font-size: 1em;
			color: $input-value-color;
			background-color: $button-label-color;
			border: none;
			border-radius: 8px;
			padding: 0.6em 0;
		}
	}

	.form {
		@include flexBox(flex, column, center, flex-start);
		color: $button-label-color;
		width: 100%;
		padding: 2em;

		&__label-title {
			width: 100%;
			font-size: 0.7em;
			text-transform: uppercase;
			font-weight: 500;
			margin: 0.8em 0;
			text-align: left;
		}
		&__input {
			cursor: pointer;
			border-radius: 8px;
			border: 1px solid $input-value-color;
			color: $button-label-color;
			padding: 0.7em;
			font-size: 0.8em;
			margin: 0 0 0.5em 0.2em;
			&::placeholder {
				color: $input-title-color;
			}
			&:active {
				border: 1px solid $active-input-border;
			}
		}
		&__top {
			margin-bottom: 0.8em;
			width: 100%;
			@include flexBox(flex, column, center, center);
			input {
				width: 100%;
			}
		}
		&__bottom {
			@include flexBox(flex, row, space-between, center);
			width: 100%;
			margin-bottom: 1.5em;
			&-date {
				width: 100%;
				height: 100%;
				@include flexBox(flex, column, space-between, flex-start);
				&-inputs {
					@include flexBox(flex, column, center, center);
					input {
						width: 100%;
					}
				}
			}
			&-cvc {
				height: 100%;
				@include flexBox(flex, column, space-between, flex-start);
				margin-left: 0.8em;
				input {
					width: 100%;
				}
			}
		}
		.submit {
			width: 100%;
			font-size: 1em;
			color: $input-value-color;
			background-color: $button-label-color;
			border: none;
			border-radius: 8px;
			padding: 0.8em 0;
			margin-bottom: 1em;
			cursor: pointer;
		}
		.submit-error {
			text-align: center;
			text-transform: uppercase;
		}
		.describe {
			color: $button-label-color;
			text-align: center;
			font-size: 0.5em;
			width: 100%;
			margin-top: 1em;
			a {
				color: $input-title-color;
				text-decoration: none;
				&:hover {
					color: hsl(278, 94%, 30%);
				}
			}
		}
		.error-border {
			border: 1px solid $error;
		}
	}
}
@import '_media';
